Repository kubernetes-sigs/descheduler, pull requests merged in 2021-09, with the labels that each got.

#623 Update Helm chart version to 0.22.0
  charts/descheduler/Chart.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved

#624 [release-1.22] Update Helm chart version to 0.22.0
  charts/descheduler/Chart.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved

#629 fix duplicate code in node_affinity_test.go
  pkg/descheduler/strategies/node_affinity_test.go
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#622 Added support for cronjob suspend
  charts/descheduler/templates/cronjob.yaml
  charts/descheduler/values.yaml
Labels: cncf-cla: yes, size/XS, lgtm, approved, ok-to-test

#632 RemoveFailedPods: guard against nil descheduler strategy (e.g. in case of default that loads all strategies)
  pkg/descheduler/strategies/failedpods.go
  pkg/descheduler/strategies/failedpods_test.go
  pkg/descheduler/strategies/validation/strategyparams.go
  test/e2e/e2e_failedpods_test.go
  test/e2e/e2e_test.go
  test/e2e/e2e_topologyspreadconstraint_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test

#634 Release 1.22.1
  README.md
  charts/descheduler/Chart.yaml
  docs/user-guide.md
  kubernetes/cronjob/cronjob.yaml
  kubernetes/deployment/deployment.yaml
  kubernetes/job/job.yaml
  pkg/descheduler/strategies/failedpods.go
  pkg/descheduler/strategies/failedpods_test.go
  pkg/descheduler/strategies/validation/strategyparams.go
  test/e2e/e2e_failedpods_test.go
  test/e2e/e2e_test.go
  test/e2e/e2e_topologyspreadconstraint_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test
