Repository kubernetes-sigs/descheduler, pull requests merged in 2021-10, with the labels that each got.

#621 Ignore pods being deleted
  pkg/descheduler/strategies/topologyspreadconstraint.go
  pkg/descheduler/strategies/topologyspreadconstraint_test.go
Labels: kind/bug, cncf-cla: yes, size/M, lgtm, approved, ok-to-test

#637 Document suspend helm chart configuration option
  charts/descheduler/README.md
Labels: cncf-cla: yes, size/XS, lgtm, approved, kind/documentation

#627 Add E2E test case cover duplicatepods strategy
  test/e2e/e2e_duplicatepods_test.go
  test/e2e/e2e_test.go
  test/e2e/e2e_toomanyrestarts_test.go
Labels: cncf-cla: yes, size/L, lgtm, approved, ok-to-test
